/* ::::: https://g.alicdn.com/tb/global/3.5.34/global-min.css ::::: */

blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul { margin: 0px; padding: 0px; }
body, button, input, select, textarea { font: 12px/1.5 tahoma,arial,"Hiragino Sans GB",宋体,sans-serif; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; }
ol, ul { list-style: outside none none; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
fieldset, img { border: 0px none; }
button, input, select, textarea { font-size: 100%; }
#content, #footer, #header, #page { margin-left: auto; margin-right: auto; }
.col-extra::after, .col-sub::after, .layout::after, .main-wrap::after { content: " "; display: block; height: 0px; clear: both; }
@font-face {
	font-family: "global-iconfont";
	src: url('font_1404888168_2057645.eot') format("embedded-opentype"), url('font_1404888168_2057645.woff') format("woff"), url('font_1404888168_2057645.ttf') format("truetype"), url('font_1404888168_2057645.svg') format("svg");
}
.site-nav .g-icon { font-family: global-iconfont; font-size: 12px; font-style: normal; }
.site-nav-bd-r .g-icon { width: 12px; }
.site-nav-bd-r .arrow-icon { width: 7px; }
.site-nav { z-index: 10000; width: 100%; background: rgb(245, 245, 245) none repeat scroll 0% 0%; border-bottom: 1px solid rgb(238, 238, 238); }
.site-nav::after { content: ""; display: table; clear: both; }
.site-nav .site-nav-bd { margin: 0px auto; width: 990px; height: 35px; background: rgb(245, 245, 245) none repeat scroll 0% 0%; backface-visibility: hidden; }
.site-nav .site-nav-bd::after { content: ""; display: table; clear: both; }
.site-nav .site-nav-bd .site-nav-bd-l, .site-nav .site-nav-bd .site-nav-bd-l .menu, .site-nav .site-nav-bd .site-nav-bd-r .menu { float: left; }
.site-nav .site-nav-bd .site-nav-bd-r { float: right; }
.site-nav .site-nav-bd .site-nav-bd-r .site-nav-pipe { float: left; height: 35px; line-height: 35px; }
.site-nav-bd a { color: rgb(60, 60, 60); }
.site-nav-bd a:hover { color: rgb(255, 68, 0); text-decoration: none; }
.site-nav-bd .h { color: rgb(242, 46, 0) !important; }
.site-nav-bd .site-nav-pipe { padding: 0px 5px; font-style: normal; color: rgb(221, 221, 221); }
.site-nav-bd .menu { float: left; }
.site-nav-bd .menu .menu-hd { z-index: 10002; position: relative; padding: 0px 6px; height: 35px; line-height: 35px; }
.site-nav-bd .menu .menu-hd a { float: left; margin-right: 7px; font-size: 12px; color: rgb(108, 108, 108); }
.site-nav-bd .menu .menu-hd a:hover, .site-nav-bd .menu .menu-hd a:hover .g-icon { color: rgb(255, 68, 0); }
.site-nav-bd .menu .menu-hd a span { float: left; cursor: pointer; }
.site-nav-bd .menu .menu-hd .g-icon { margin-right: 5px; color: rgb(156, 156, 156); }
.site-nav-bd .menu .menu-bd { z-index: 10001; position: relative; display: none; margin-top: -1px; }
.site-nav-bd .menu .menu-bd .menu-bd-panel { position: absolute; left: 0px; top: 0px; padding: 8px; line-height: normal; border: 1px solid rgb(238, 238, 238); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.site-nav-bd .arrow-icon-wrapper { display: block; float: left; width: 12px; height: 6px; line-height: 6px; overflow: hidden; margin-top: 16px; }
.site-nav-bd .arrow-icon-wrapper span { display: block; margin-top: -4px; margin-right: 20px; }
.site-nav-bd .mini-cart .menu-hd .g-icon, .site-nav-bd .site-map .menu-hd .g-icon { color: rgb(255, 68, 0); }
.site-nav-bd .favorite .menu-bd-panel { width: 86px; }
.site-nav-bd .site-map .menu-bd .menu-bd-panel { padding: 18px 8px; }
.site-nav-bd .menu .menu-list .menu-bd-panel { padding: 8px 0px; }
.site-nav-bd .menu .menu-list .menu-bd-panel a { display: block; padding: 0px 5px; line-height: 28px; white-space: nowrap; color: rgb(108, 108, 108); }
.site-nav-bd .menu .menu-list .menu-bd-panel a:hover { color: rgb(108, 108, 108); background: rgb(245, 245, 245) none repeat scroll 0% 0%; }
.guang-count { color: rgb(242, 46, 0); }
.site-nav-bd .mini-cart .menu-bd .menu-bd-panel { width: 296px; line-height: 20px; min-height: 40px; background: rgb(255, 255, 255) url('t1b1m3xkvpxxxxxxxx-32-32.gif') no-repeat scroll 50% 50%; }
.site-nav-bd .site-map .menu-bd .menu-bd-panel { overflow: hidden; right: 0px; left: auto; width: 972px; }
.site-nav-bd .site-map .menu-bd .menu-bd-panel .mod .mod-wrap li a::after { content: ""; display: table; clear: both; }
.screen-hd .map .mod .mod-wrap li a::after { content: ""; display: table; clear: both; }
/* ::::: https://g.alicdn.com/mtb/app-idle-pc/1.7.1/??common/base-min.css,widget/header5/index-min.css,widget/footer5/index-min.css,common/btn-min.css,pages/index/page/index-min.css ::::: */

#page { width: 100%; }
#content { width: 990px; margin: 0px auto; }
.clearfix {  }
.clearfix::after { content: " "; display: block; height: 0px; clear: both; }
.hidden { display: none; }
.layout::after, .main-wrap::after, .col-sub::after, .col-extra::after { content: " "; display: block; height: 0px; clear: both; }
.sh-pic, .sh-pic30, .sh-pic40, .sh-pic50, .sh-pic60, .sh-pic70, .sh-pic80, .sh-pic90, .sh-pic110x90, .sh-pic120, .sh-pic135, .sh-pic160, .sh-pic220, .sh-pic310 { display: table; text-align: center; table-layout: fixed; }
.sh-pic a, .sh-pic30 a, .sh-pic40 a, .sh-pic50 a, .sh-pic60 a, .sh-pic70 a, .sh-pic80 a, .sh-pic90 a, .sh-pic110x90 a, .sh-pic120 a, .sh-pic135 a, .sh-pic160 a, .sh-pic220 a, .sh-pic310 a { display: table-cell; vertical-align: middle; }
.sh-pic a img, .sh-pic30 a img, .sh-pic40 a img, .sh-pic50 a img, .sh-pic60 a img, .sh-pic70 a img, .sh-pic80 a img, .sh-pic90 a img, .sh-pic110x90 a img, .sh-pic120 a img, .sh-pic135 a img, .sh-pic160 a img, .sh-pic220 a img, .sh-pic310 a img { vertical-align: middle; }
.price-block { font-family: Verdana; font-size: 12px; }
.price-block b, .price-block del { font-size: 14px; }
.price-block b { font-weight: 400; font-family: Arial,Verdana; padding-right: 2px; color: rgb(153, 153, 153); }
.price-block .price em { font-weight: 700; font-size: 14px; color: rgb(255, 68, 0); }
#server-num { color: rgb(255, 255, 255); }
div.ks-suggest-container { border-color: rgb(230, 230, 230); box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1); }
.pub-overlay-btn { cursor: pointer; }
@font-face {
	font-family: "xy-iconfont";
	src: url('font_1432608908_2844584.eot') format("embedded-opentype"), url('font_1432608908_2844584.woff') format("woff"), url('font_1432608908_2844584.ttf') format("truetype"), url('font_1432608908_2844584.svg') format("svg");
}
.iconfont { font-family: xy-iconfont; font-size: 14px; font-style: normal; }
.idle-header-wrap { height: 90px; background-color: rgb(255, 218, 68); }
.idle-header { width: 990px; margin: 0px auto; position: relative; font-size: 14px; font-family: Arial,Helvetica,sans-serif; }
.w1190 .idle-header { width: 1190px; }
.idle-logo { position: absolute; display: block; width: 93px; height: 45px; top: 22.5px; left: 5px; }
.idle-nav { position: absolute; top: 28px; left: 250px; }
.idle-menu { font-size: 0px; }
.idle-menu, .idle-manage { float: left; }
.idle-menu ul, .idle-manage ul { display: inline; }
.idle-manage { position: relative; line-height: 35px; }
.idle-manage-sp { margin: 0px 10px; }
.my-idle-li { position: relative; }
.my-idle-link .icon-up, .my-idle-li .icon-down { margin-left: 8px; }
.my-idle-link .icon-up, .my-idle-li.hover .icon-down { display: none; }
.my-idle { position: absolute; left: 0px; top: 25px; width: 80px; background-color: rgb(255, 255, 255); border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentcolor rgb(238, 238, 238) rgb(238, 238, 238); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; font-size: 12px; z-index: 10000; }
.my-idle a { display: block; padding: 3px 0px 3px 5px; height: 24px; line-height: 24px; border-top: 1px solid rgb(238, 238, 238); }
.my-idle em { color: rgb(255, 218, 68); }
.my-idle a:hover { background-color: rgb(238, 238, 238); }
.idle-nav li { display: inline; line-height: 35px; padding: 8px 0px; margin: 0px 15px; font-size: 15px; }
.idle-nav li.active { border-bottom: 4px solid rgb(0, 0, 0); }
.idle-search { position: absolute; right: 65px; top: 27px; width: 222px; height: 36px; background-color: rgb(51, 51, 51); }
.input-search { width: 164px; height: 32px; padding: 0px 10px; margin: 0px; border: 0px none; outline: 0px none; position: absolute; left: 2px; top: 2px; font-size: 13px; }
.btn-search { display: block; width: 36px; height: 36px; position: absolute; top: 0px; right: 0px; color: rgb(255, 255, 255); background-color: rgb(51, 51, 51); border: 0px none; margin: 0px; padding: 0px; cursor: pointer; outline: 0px none; }
.btn-search .iconfont { font-size: 18px; }
.btn-search .search-img { position: absolute; right: -65px; top: -13px; display: block; width: 79px; height: 60px; background: rgba(0, 0, 0, 0) url('tb1vqsxhvxxxxb.xvxxqw4sjxxx-79-60.png') no-repeat scroll 0px 0px; }
.idle-header a { color: rgb(0, 0, 0); text-decoration: none; }
.idle-header a:hover { color: rgb(0, 0, 0); text-decoration: none; }
.w1190 .sh-wrapper, .w1190 .sh-header-banner, .w1190 .site-nav .site-nav-bd { width: 1190px; }
.download-layer { background: rgb(255, 255, 255) none repeat scroll 0% 0%; z-index: 10000; }
#popUp-div { width: 100%; height: 134px; background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%; color: rgb(255, 255, 255); display: none; position: fixed; left: 0px; bottom: 0px; z-index: 10000; }
#putUp-div { width: 135px; height: 134px; position: fixed; left: 0px; bottom: 0px; z-index: 10000; }
.side-div { width: 8px; height: 134px; background-color: rgb(255, 218, 68); float: left; display: inline; }
.middle-div { margin-left: auto; margin-right: auto; width: 1190px; }
.logo-div { margin-top: 20px; width: auto; height: auto; float: left; display: inline; }
.logo-div img { height: 79px; }
.logo-left { float: left; display: inline; height: 79px; }
.logo-left img { visibility: hidden; }
.input-div { float: left; display: inline; margin-left: 20px; margin-top: 20px; width: auto; height: 95px; border-right: 1.5px solid rgb(255, 255, 255); }
.input-top { position: relative; }
.input-top input { width: 260px; height: 40px; line-height: 40px; background-color: rgb(255, 255, 255); border-radius: 5px; border: 0px none; font-size: 14px; padding-left: 10px; outline: 0px none; }
.input-bottom { margin-top: 10px; overflow: hidden; width: auto; height: auto; position: relative; }
.input-bottom input { width: 80px; height: 40px; line-height: 40px; border-radius: 5px; border: 0px none; font-size: 10px; display: inline; float: left; padding-left: 10px; outline: 0px none; }
.input-bottom input:nth-child(1) { background-color: rgb(255, 255, 255); }
#J_send { padding-left: 3px; background-color: rgb(255, 218, 68); color: rgb(0, 0, 0); }
#J_code_info { width: 14px; height: 14px; position: absolute; margin-left: 95px; margin-top: 13px; }
#J_mobile_info { width: 14px; height: 14px; display: inline; position: absolute; top: 13px; right: 20px; }
.input-bottom img { width: 80px; height: 40px; border-radius: 5px; border: 0px none; margin-left: 10px; margin-right: 10px; display: inline; float: left; }
.putup-img { width: auto; height: 134px; cursor: pointer; }
.icon-div { margin-left: 20px; margin-top: 20px; float: left; display: inline; }
.icon-left { float: left; display: inline; margin-right: 10px; }
.icon-left img { width: 140px; height: 40px; display: block; }
.icon-left img:nth-child(1) { margin-bottom: 10px; }
.icon-right { float: left; display: inline; }
.icon-right img { width: 225px; height: 179px; margin-left: 7px; margin-top: -80px; }
#close { float: right; margin-left: 40px; margin-right: 40px; margin-top: 50px; }
#close img { width: 40px; height: 40px; }
.download-android { cursor: pointer; }
.idle-footer { background-color: rgb(51, 51, 51); display: block; }
.idle-footer-info { background-color: rgb(255, 218, 68); }
.idle-footer-download { width: 990px; height: 270px; margin: 0px auto; position: relative; background: rgba(0, 0, 0, 0) url('tb1on87hvxxxxcvxpxxieo_0pxx-288-177.png') no-repeat scroll 40px 50%; display: none; }
.idle-footer-slogan { position: absolute; left: 50%; top: 50%; margin-left: -150px; margin-top: -40px; }
.idle-download-ios { position: absolute; left: 690px; top: 68px; }
.idle-download-android { position: absolute; left: 690px; top: 135px; }
.idle-qrcode { position: absolute; left: 900px; top: 68px; }
.idle-footer-links { padding: 40px 0px 20px; background-color: rgb(51, 51, 51); }
.idle-footer-links-box { width: 820px; height: 125px; margin: 0px auto; }
.idle-footer-links a { display: inline; float: left; text-indent: -9999em; text-align: left; width: 125px; height: 125px; margin: 0px 40px; overflow: hidden; background: rgba(0, 0, 0, 0) url('tb1w6eghvxxxxxhxxxxyznlyxxx-740-115.png') no-repeat scroll 0px 0px; cursor: default; }
a.idle-footer-link-auth { background-position: 0px 0px !important; }
a.idle-footer-link-alipay { background-position: -224px 0px !important; }
a.idle-footer-link-team { background-position: -441px 0px !important; }
a.idle-footer-link-weibo { background-position: -656px 0px !important; cursor: pointer; }
.footer-idle-new { width: 1190px; max-width: 100%; min-height: 125px; margin: 0px auto; position: relative; padding: 7px 0px 9px; border-top: 1px solid rgb(221, 221, 221); }
.footer-idle-new p { padding-bottom: 8px; overflow: hidden; }
.footer-idle-new b { margin: 0px 3px; font-weight: 400; color: rgb(221, 221, 221); }
.footer-idle-new em, .footer-idle-new span { white-space: nowrap; color: rgb(156, 156, 156); }
.footer-idle-new em { margin-left: 30px; }
.footer-idle-new span { margin: 0px 4px; }
.footer-idle-new .footer-bd a, .footer-idle-new .footer-hd a { white-space: nowrap; color: rgb(108, 108, 108); }
.footer-idle-new .footer-bd a:hover, .footer-idle-new .footer-hd a:hover { color: rgb(255, 68, 0); text-decoration: none; }
.footer-idle-new .footer-hd p { margin-bottom: 8px; line-height: 27px; border-bottom: 1px solid rgb(221, 221, 221); }
.footer-idle-new .footer-ft a { margin-right: 15px; }
.footer-idle-new .footer-ft .mod { height: 40px; display: inline-block; background-repeat: no-repeat; }
.footer-idle-new .mod { background-image: url('tb1z6l_lvxxxxxuxpxxjmay6pxx-755-35.jpg'); }
.footer-with-logo { min-height: 170px; }
#umpp-trinity-id { display: none; }
.btn { margin: 0px; padding: 0px; color: rgb(51, 51, 51); display: inline-block; text-align: center; text-decoration: none; }
.btn:hover { color: rgb(51, 51, 51); text-decoration: none; }
.btn-yellow { background: rgb(255, 218, 68) none repeat scroll 0% 0%; }
.btn-opacity { background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; border: 1px solid rgb(255, 255, 255); color: rgb(255, 255, 255); }
.btn-opacity:hover { color: rgb(255, 255, 255); }
.btn-large { width: 300px; height: 80px; line-height: 80px; border-radius: 8px; font-size: 28px; }
.item-list .love, .item-list .love b, .index-slider .tab-nav li, .floor .item-list .new-item, .new-items .reload b, .floor .summary b.share, .floor .news-wrapper .arrow, .floor .item-list .addon, .tutorial .list li b, .life-news ul li b, .index-sidebar li a, .index-slider .optbtn i { background: rgba(0, 0, 0, 0) url('t19qdufd4bxxccqeqx-66-154.png') no-repeat scroll 0% 0%; }
.recycle h4, .recycle .recycel-type .img { background: rgba(0, 0, 0, 0) url('t10b1tfhnxxxbfgf.e-390-159.png') no-repeat scroll 0% 0%; }
.w1190 #content { width: 1190px; }
.col { float: left; display: inline; }
.loading { background: rgba(0, 0, 0, 0) url('t1ckm3xkrpxxxxxxxx-48-48.gif') no-repeat scroll 50% 50%; }
a { color: rgb(51, 51, 51); }
a:hover { color: rgb(255, 204, 0); text-decoration: underline; transition: color 0.1s linear 0s, background-color 0.1s linear 0s; }
.item-list .love { background-position: 0px -23px; position: absolute; top: 105px; right: 7px; width: 51px; height: 15px; padding: 5px 0px; line-height: 15px; visibility: hidden; }
.item-list .love b { display: inline-block; vertical-align: middle; background-position: 0px -48px; width: 14px; height: 12px; margin: 0px 5px 0px 10px; cursor: pointer; }
.first-glance { margin-top: 12px; }
.index-slider { width: 580px; height: 264px; border-bottom: 1px solid rgb(230, 230, 230); overflow: hidden; margin: 0px 10px; position: relative; }
.index-slider .tab-nav { position: absolute; bottom: 8px; left: 10px; }
.index-slider .tab-nav li { float: left; width: 11px; height: 11px; background-position: -11px -61px; text-indent: -9999px; margin-right: 5px; cursor: pointer; }
.index-slider .tab-nav li.selected { background-position: 0px -61px; }
.idle-start { position: relative; width: 188px; height: 264px; border-left: 1px solid rgb(239, 239, 239); border-right: 1px solid rgb(239, 239, 239); font-family: "Microsoft Yahei"; text-align: center; }
.idle-start .app-intro { position: relative; width: 288px; height: 144px; background: rgba(0, 0, 0, 0) url('tb1ep_xixxxxxawxxxxebu40pxx-288-144.png') no-repeat scroll center center; }
.idle-start .app-intro .go-download-app { position: absolute; top: 77px; left: 119px; width: 90px; height: 32px; background: rgba(0, 0, 0, 0) url('tb1aboiixxxxxxlxfxxiedv.pxx-90-199.png') no-repeat scroll left top; }
.idle-start .app-intro .qrcode-btn { position: absolute; top: 77px; left: 218px; width: 40px; height: 32px; background: rgba(0, 0, 0, 0) url('tb1aboiixxxxxxlxfxxiedv.pxx-90-199.png') no-repeat scroll left -48px; }
.idle-start p { color: rgb(153, 156, 160); margin: 10px 0px; }
.idle-start .extend { height: 120px; background-color: rgb(244, 244, 244); }
.idle-start .extend .mod { float: left; width: 144px; height: 120px; }
.idle-start .extend .mod a { display: block; padding: 23px 0px; border: 1px solid rgb(239, 239, 239); margin-left: 9px; margin-top: 10px; text-align: center; background-color: rgb(255, 255, 255); cursor: pointer; }
.idle-start .extend .mod a .main-title { display: inline-block; padding-right: 20px; margin-bottom: 5px; font-size: 18px; font-weight: 700; color: rgb(51, 51, 51); background: rgba(0, 0, 0, 0) url('tb1aboiixxxxxxlxfxxiedv.pxx-90-199.png') no-repeat scroll 85px -99px; }
.idle-start .extend .mod a:hover { background-color: rgb(255, 255, 255); text-decoration: none; }
.idle-start .extend .mod a:hover .main-title {  }
.idle-start .extend .mod a:hover .subtitle {  }
.idle-start .extend .mod a .subtitle { display: block; color: rgb(153, 153, 153); }
.idle-start .extend .right a { margin-right: 9px; }
.idle-start .app-qrcode-container { display: none; position: absolute; top: 0px; left: 0px; width: 209px; height: 262px; border-width: 1px 1px 1px 0px; border-style: solid solid solid none; border-color: rgb(239, 239, 239) rgb(239, 239, 239) rgb(239, 239, 239) currentcolor; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; background-color: rgb(255, 255, 255); text-align: center; }
.idle-start .app-qrcode-container .qrcode-img-container { margin-top: 45px; }
.idle-start .app-qrcode-container .arrow-qrcode { position: absolute; top: 206px; right: -6px; width: 6px; height: 10px; overflow: hidden; background: rgba(0, 0, 0, 0) url('tb1aboiixxxxxxlxfxxiedv.pxx-90-199.png') no-repeat scroll left -186px; }
.idle-start .app-qrcode-container .intro-text { font-size: 16px; color: rgb(51, 51, 51); }
.index-slider .optbtn a { background-color: rgba(0, 0, 0, 0.3); display: block; height: 40px; width: 40px; color: rgb(255, 255, 255); overflow: hidden; position: absolute; top: 50%; margin-top: -20px; }
html:root .optbtn .prev, html:root .optbtn .next {  }
.index-slider .prev { left: 5px; }
.index-slider .next { right: 5px; }
.index-slider .optbtn a:hover { background-color: rgba(0, 0, 0, 0.6); }
html:root .optbtn .prev:hover, html:root .optbtn .next:hover {  }
.index-slider .optbtn i { display: block; overflow: hidden; cursor: pointer; margin: 8px 0px 0px 12px; width: 15px; height: 23px; }
.index-slider .optbtn .prev i { background-position: 0px -131px; }
.index-slider .optbtn .next i { background-position: -15px -131px; }
.news { height: 232px; margin-top: 40px; }
.you-may-like { width: 200px; }
.you-may-like .avatar { float: left; width: 60px; height: 60px; border: 6px solid rgb(235, 235, 235); border-radius: 50%; overflow: hidden; }
.you-may-like .foreword { float: left; margin-left: 8px; width: 118px; }
.you-may-like .foreword .login { color: rgb(255, 218, 68); text-decoration: none; font-weight: 700; margin: 0px 3px; }
.you-may-like .tag-cloud { float: left; margin-top: -25px; white-space: nowrap; width: 200px; height: 164px; overflow: hidden; }
.you-may-like .tag-cloud a, .you-may-like .tag-cloud .placeholder { float: left; border: 1px solid rgb(255, 255, 255); background-color: rgb(247, 247, 247); margin: 0px 14px 15px 0px; padding: 6px 7px; line-height: 12px; color: rgb(136, 136, 136); }
.you-may-like .tag-cloud a:hover { background-color: rgb(255, 218, 68); border-color: rgb(255, 218, 68); text-decoration: none; color: rgb(255, 255, 255); }
.you-may-like .tag-cloud .placeholder { background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; border: 0px none; width: 50px; height: 9px; }
.new-items { width: 600px; overflow: hidden; }
.new-items .bd { border-top: 1px solid rgb(230, 230, 230); border-bottom: 1px solid rgb(230, 230, 230); padding: 12px 0px; height: 162px; }
.new-items .item-type li { float: left; height: 28px; line-height: 28px; font-family: "Microsoft Yahei"; font-size: 16px; padding: 0px 13px; margin-right: 5px; }
.new-items .item-type li.selected { margin-bottom: -1px; color: rgb(255, 204, 0); border-bottom: 3px solid rgb(255, 204, 0); }
.new-items .item-type li a { text-decoration: none; }
.new-items .item-list { float: left; margin-bottom: 15px; position: relative; }
.new-items .item-list ul { height: 162px; }
.new-items .item-list li { float: left; margin-right: 10px; position: relative; width: 140px; overflow: hidden; }
.new-items .item-pic { position: relative; }
.new-items .item-pic, .new-items .item-pic a { height: 140px; width: 140px; }
.new-items .item-pic a {  }
.new-items .item-pic img { max-width: 140px; max-height: 140px; }
.new-items .item-list .title { height: 22px; line-height: 22px; overflow: hidden; padding: 0px 5px; text-align: center; }
.new-items .reload, .new-items .more { position: absolute; right: 0px; top: -38px; color: rgb(132, 135, 140); cursor: pointer; font-size: 14px; }
.new-items .reload b { display: inline-block; vertical-align: middle; height: 15px; width: 17px; margin-right: 8px; background-position: -49px -48px; }
.on-selling { width: 189px; }
.on-selling h3 { font-family: "Microsoft Yahei"; font-size: 16px; height: 30px; line-height: 30px; font-weight: 400; padding-left: 12px; }
.on-selling .sell-list { height: 162px; padding: 12px 0px 12px 12px; border-width: 1px 0px 1px 1px; border-style: solid none solid solid; border-color: rgb(230, 230, 230) currentcolor rgb(230, 230, 230) rgb(230, 230, 230); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; overflow: hidden; position: relative; }
.on-selling li::before, .on-selling li::after { content: ""; display: table; }
.on-selling li::after { clear: both; }
.on-selling li { padding-bottom: 6px; height: 75px; position: relative; }
.on-selling .entity { height: 160px; width: 179px; overflow: hidden; }
.on-selling .item-list .love { background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; top: 55px; width: 25px; right: 120px; }
.on-selling .item-pic { float: left; width: 56px; height: 56px; }
.on-selling .item-pic a {  }
.on-selling .item-pic img { max-width: 56px; max-height: 56px; }
.on-selling .info { float: left; margin-left: 12px; }
.on-selling .desc { height: 35px; width: 105px; overflow: hidden; }
.floor { margin-bottom: 50px; }
.floor .hd::before, .floor .hd::after { content: ""; display: table; }
.floor .hd::after { clear: both; }
.floor .hd { height: 22px; padding: 8px 0px; }
.floor h2 { font-size: 22px; font-family: "Microsoft Yahei"; line-height: 22px; padding-left: 10px; font-weight: 400; border-left: 3px solid rgb(255, 218, 68); }
.floor h2 a { color: rgb(51, 51, 51); }
.floor h2 a:hover { color: rgb(255, 204, 0); }
.floor .bd { overflow: hidden; border-top: 1px solid rgb(230, 230, 230); border-bottom: 1px solid rgb(230, 230, 230); }
.floor-col3 .bd { border-bottom: 0px none; }
.floor .item-wrapper { padding: 10px 0px; width: 699px; height: 450px; border-right: 1px solid rgb(230, 230, 230); overflow: hidden; }
.floor .item-list { width: 789px; }
.floor .item-list .item { overflow: hidden; margin: 0px 5px 18px 0px; float: left; width: 170px; position: relative; background: rgba(0, 0, 0, 0) url('t1b1m3xkvpxxxxxxxx-32-32.gif') no-repeat scroll 50% 50%; }
.floor .item-list .new-item { position: absolute; top: 5px; left: -1px; height: 23px; width: 66px; color: rgb(255, 255, 255); line-height: 22px; text-align: center; }
.floor .item-list .love { top: 135px; }
.floor .item-pic { position: relative; }
.floor .item-pic, .floor .item-pic a { height: 170px; width: 170px; }
.floor .item-pic a {  }
.floor .item-pic img { max-width: 170px; max-height: 170px; }
.floor .item-list .title { height: 18px; line-height: 18px; overflow: hidden; text-align: right; padding: 5px 5px 0px; }
.floor .item-list .title a:hover { color: rgb(255, 204, 0); }
.floor .item-list .price { line-height: 14px; margin-top: 5px; text-align: right; padding-right: 5px; }
.floor .hots { width: 290px; overflow: hidden; }
.floor .tags { width: 290px; margin-left: -1px; height: 103px; padding: 10px 0px; overflow: hidden; border-bottom: 1px solid rgb(230, 230, 230); }
.floor .tags a { padding: 0px 19px; line-height: 28px; border-left: 1px solid rgb(217, 221, 240); overflow-wrap: break-word; white-space: nowrap; }
.floor .hot-theme { height: 281px; padding: 10px 0px 0px 10px; }
.floor .theme { margin-bottom: 3px; position: relative; }
.floor .theme .pic, .floor .theme .pic a { width: 132px; height: 132px; margin-right: 5px; float: left; display: inline; }
.floor .theme .pic img { width: 132px; height: 132px; }
.floor .theme .summary { float: left; display: inline; width: 123px; height: 132px; padding: 0px 10px; overflow: hidden; }
.floor .theme h5 { margin: 20px 0px 5px; }
.floor .theme .desc { color: rgb(151, 151, 151); height: 60px; overflow: hidden; line-height: 20px; }
.floor .summary b.share { position: absolute; bottom: 8px; right: 24px; width: 13px; height: 13px; visibility: hidden; cursor: pointer; background-position: -53px -26px; }
.floor .news-wrapper { padding: 15px 30px; width: 225px; position: relative; }
.floor .news-list { position: relative; }
.floor .news-list li { overflow: hidden; width: 348px; }
.floor .news-list li a { font-size: 14px; }
.floor .news-list li a:hover { color: rgb(255, 204, 0); }
.floor .news-wrapper .arrow { position: absolute; top: 22px; text-indent: -9999px; height: 9px; width: 6px; }
.floor .news-wrapper .arrow-next { right: 10px; background-position: -37px -49px; }
.floor .news-wrapper .arrow-prev { left: 10px; background-position: -30px -49px; }
.floor .left-mod { width: 190px; }
.floor .tag-cloud { word-break: keep-all; height: 188px; margin: 15px 0px; overflow: hidden; }
.floor .tag-cloud a { margin: 0px 15px 0px 0px; line-height: 28px; overflow-wrap: break-word; white-space: nowrap; }
.floor .left-banner a { display: block; height: 190px; width: 190px; }
.floor .middle-mod { height: 395px; margin: 12px 10px 0px; overflow: hidden; width: 590px; }
.floor .middle-mod .item-list { width: 600px; height: 395px; }
.floor .middle-mod .item-list .item { margin: 0px 5px 22px 0px; width: 142px; overflow: hidden; }
.floor .middle-mod .item-pic, .floor .middle-mod .item-pic a { height: 142px; width: 142px; }
.floor .middle-mod .item-pic a {  }
.floor .middle-mod .item-pic img { max-width: 142px; max-height: 142px; }
.floor .middle-mod .item-list .love { top: 110px; }
.floor .right-mod { width: 190px; padding: 12px 0px 0px; height: 400px; overflow: hidden; }
.floor .theme-list { height: 186px; margin-bottom: 20px; position: relative; }
.floor .theme-list .thumb, .floor .theme-list .thumb a, .floor .theme-list .thumb img { width: 180px; height: 60px; }
.floor .theme-list h5 { font-size: 14px; line-height: 30px; }
.floor .theme-list .desc { color: rgb(151, 151, 151); line-height: 22px; height: 87px; overflow: hidden; }
.floor .theme-list .summary b.share { bottom: 0px; right: 5px; }
.idle-index .guide { border: 1px solid rgb(230, 230, 230); height: 260px; }
.recycle { width: 489px; height: 260px; border-right: 1px solid rgb(230, 230, 230); }
.recycle h4 { margin: 23px 0px 0px 44px; height: 36px; text-indent: -9999px; }
.recycle .recycel-type { float: left; display: inline; position: relative; margin: 30px 17px 0px; height: 150px; }
.recycle .recycel-type .img { display: block; width: 128px; height: 120px; text-indent: -9999px; }
.recycle .mobile .img { background-position: 0px -36px; }
.recycle .table .img { background-position: -128px -36px; }
.recycle .notebook .img { background-position: -252px -36px; }
.recycle .btn { position: absolute; bottom: 0px; left: 16px; height: 17px; width: auto; margin: 0px; padding: 5px 5px 5px 15px; line-height: 17px; color: rgb(50, 58, 69); text-align: center; border: 1px solid rgb(230, 230, 230); border-radius: 3px; text-decoration: none; }
.recycle .btn b { border-color: transparent transparent transparent rgb(152, 156, 162); border-style: solid; border-width: 4px; font-size: 0px; height: 0px; width: 0px; line-height: 0; display: inline-block; margin-left: 5px; }
.tutorial { width: 498px; height: 260px; }
.tutorial .mod { padding: 0px 14px; width: 220px; }
.tutorial .mod h4 { margin-top: 5px; border-bottom: 1px solid rgb(230, 230, 230); font: 22px/40px "Microsoft Yahei"; }
.tutorial .list { margin-top: 15px; }
.tutorial .list li { line-height: 20px; height: 20px; overflow: hidden; margin-bottom: 13px; }
.tutorial .list li a { color: rgb(33, 33, 33); }
.tutorial .list li a:hover { color: rgb(255, 204, 0); }
.tutorial .list li b { display: inline-block; width: 2px; height: 2px; vertical-align: middle; margin-right: 7px; background-position: -44px -48px; }
.all-category { margin-top: 30px; }
.all-category .hd { font-size: 16px; font-family: "Microsoft Yahei"; font-weight: 400; line-height: 32px; border-bottom: 2px solid rgb(238, 238, 238); padding-left: 5px; }
.all-category .category-wrapper { margin-top: -1px; }
.all-category .sub-category { border-top: 1px dotted rgb(239, 239, 239); overflow: hidden; float: left; width: 217px; padding: 30px 30px 20px 0px; }
.all-category .sub-category dt { line-height: 18px; padding-left: 8px; border-left: 3px solid rgb(255, 218, 68); font-family: "Microsoft Yahei"; font-size: 14px; }
.all-category .sub-category dt a { color: rgb(0, 0, 0); }
.all-category .sub-category dd { overflow: hidden; white-space: nowrap; padding: 18px 0px 7px; }
.all-category .sub-category dd ul li { float: left; line-height: 14px; height: 14px; margin: 0px 8px 10px 0px; }
.all-category .sub-category dd a { color: rgb(151, 151, 151); font: 12px/1.5 arial; }
.all-category .sub-category dd a:hover { color: rgb(255, 204, 0); }
.sidebar-wrapper { position: fixed; width: 106px; left: 100%; top: 30%; backface-visibility: hidden; z-index: 100; }
.index-sidebar { width: 38px; left: 100%; top: 30%; overflow: hidden; border: 1px solid rgb(232, 232, 232); border-radius: 3px; margin-top: 20px; }
.index-sidebar li { height: 56px; line-height: 56px; width: 38px; margin-top: -1px; border-top: 1px solid rgb(232, 232, 232); cursor: pointer; text-align: center; }
.index-sidebar li a { display: inline-block; height: 18px; width: 21px; vertical-align: middle; overflow: hidden; }
.index-sidebar .top a { background-position: 0px -113px; }
.index-sidebar li.advice { height: 75px; }
.index-sidebar .advice a { background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px; height: 60px; width: 15px; line-height: 15px; text-decoration: none; margin-top: 7px; }
.sh-category-box { float: left; }
.sh-category-list { border: 1px solid rgb(230, 230, 230); background-color: rgb(255, 255, 255); width: 238px; }
.sh-category-list .list-item { position: relative; z-index: 192; padding: 0px 10px; }
.sh-category-list .list-item.list-item-hover, .sh-category-list .list-item:hover { background-color: rgb(243, 243, 243); }
.sh-category-list .main-area { border-top: 1px solid rgb(242, 242, 242); overflow: hidden; padding: 10px 0px; height: 24px; line-height: 26px; margin-top: -1px; }
.sh-category-list .main-area a { color: rgb(51, 51, 51); }
.sh-category-list .main-link { margin-left: 8px; }
.sh-category-list .main-link a { color: rgb(151, 151, 151); font: 12px/1.5 arial; white-space: nowrap; }
.sh-category-list .main-link a:hover { color: rgb(157, 201, 28); }
.sh-category-list .main-area b { display: inline-block; vertical-align: middle; background: rgba(0, 0, 0, 0) url('tb1pckvffxxxxb.xpxxce7byfxx-315-356.png') no-repeat scroll 0% 0%; width: 23px; height: 19px; margin-right: 10px; }
.sh-category-list .digit b { background-position: -48px -54px; }
.sh-category-list .baby b { background-position: -120px -54px; }
.sh-category-list .furniture b { background-position: -95px -54px; }
.sh-category-list .electrical b { background-position: -71px -54px; }
.sh-category-list .dress b { background-position: -23px -54px; }
.sh-category-list .luxury b { background-position: 0px -54px; }
.list-item:hover .digit b, .list-item-hover .digit b { background-position: -189px -54px; }
.list-item:hover .baby b, .list-item-hover .baby b { background-position: -258px -54px; }
.list-item:hover .furniture b, .list-item-hover .furniture b { background-position: -235px -54px; }
.list-item:hover .electrical b, .list-item-hover .electrical b { background-position: -212px -54px; }
.list-item:hover .dress b, .list-item-hover .dress b { background-position: -166px -54px; }
.list-item:hover .luxury b, .list-item-hover .luxury b { background-position: -143px -54px; }
.sh-category-list .extra-area { display: none; border: 1px solid rgb(232, 232, 232); overflow: hidden; background-color: rgb(255, 255, 255); width: 494px; padding: 10px 20px; }
.sh-category-list .sub-cat-wrap { width: 600px; overflow: hidden; }
.sh-category-list .sub-category { width: 227px; overflow: hidden; float: left; padding: 0px 40px 27px 0px; }
.sh-category-list .sub-category dt { line-height: 18px; padding-left: 8px; border-left: 3px solid rgb(255, 218, 68); }
.sh-category-list .sub-category dt a { color: rgb(51, 51, 51); }
.sh-category-list .sub-category dd { border-bottom: 1px solid rgb(232, 232, 232); overflow: hidden; white-space: nowrap; padding: 18px 0px 7px; }
.sh-category-list .sub-category dd ul li { float: left; line-height: 14px; height: 14px; margin: 0px 8px 10px 0px; }
.sh-category-list .sub-category dd a { color: rgb(138, 138, 138); font: 12px/1.5 arial; }
.sh-category-list .sub-category dd a:hover { color: rgb(157, 201, 28); }
.sh-category-list .extra-suggestions { border-top: 1px solid rgb(232, 232, 232); overflow: hidden; padding-top: 40px; margin: -28px 0px; }
.sh-category-list .extra-suggest { width: 600px; border-bottom: 0px none; }
.sh-category-list .extra-suggest dd { float: left; width: 227px; margin-right: 40px; border-bottom: 0px none; }
.w1190 .first-glance { margin-left: 0px; }
.w1190 .idle-start { width: 288px; }
.w1190 .index-slider { width: 640px; }
.w1190 .you-may-like { width: 240px; }
.w1190 .you-may-like .tag-cloud { width: 240px; }
.w1190 .you-may-like .foreword { width: 159px; font-size: 14px; }
.w1190 .new-items { width: 650px; margin-left: 10px; }
.w1190 .new-items .bd { height: 180px; padding: 12px 0px 8px 5px; }
.w1190 .new-items .item-list ul { height: 156px; width: 645px; }
.w1190 .new-items .item-list li { margin-right: 3px; width: 156px; }
.w1190 .new-items .item-pic, .w1190 .new-items .item-pic a { height: 156px; width: 156px; }
.w1190 .new-items .item-pic a {  }
.w1190 .new-items .item-pic img { max-width: 156px; max-height: 156px; }
.w1190 .on-selling { width: 288px; }
.w1190 .on-selling .sell-list { height: 180px; padding: 12px 0px 8px 10px; }
.w1190 .on-selling .entity { width: 275px; }
.w1190 .on-selling .item-pic { width: 75px; height: 75px; }
.w1190 .on-selling .item-pic a {  }
.w1190 .on-selling .item-pic img { max-width: 75px; max-height: 75px; }
.w1190 .on-selling .desc { width: 187px; }
.w1190 .on-selling .item-list .love { top: 50px; right: 0px; }
.w1190 .item-list .love { top: 120px; }
.w1190 .floor .item-wrapper { width: 789px; height: 495px; }
.w1190 .floor .item-list .item { width: 192px; }
.w1190 .floor .item-pic, .w1190 .floor .item-pic a { height: 192px; width: 192px; }
.w1190 .floor .item-pic a {  }
.w1190 .floor .item-pic img { max-width: 192px; max-height: 192px; }
.w1190 .floor .hots { width: 400px; }
.w1190 .floor .item-list .love { top: 160px; }
.w1190 .floor .news-wrapper { width: 340px; }
.w1190 .floor .middle-mod { width: 730px; margin: 10px 20px 0px; }
.w1190 .floor .middle-mod .item-list { width: 800px; }
.w1190 .floor .middle-mod .item-list .item { width: 142px; }
.w1190 .floor .middle-mod .item-pic, .w1190 .floor .middle-mod .item-pic a { height: 142px; width: 142px; }
.w1190 .floor .middle-mod .item-pic a {  }
.w1190 .floor .middle-mod .item-pic img { max-width: 142px; max-height: 142px; }
.w1190 .floor .middle-mod .item-list .love { top: 110px; }
.w1190 .floor .tags { width: 400px; padding: 20px 0px; }
.w1190 .floor .right-mod { width: 230px; }
.w1190 .floor .hot-theme { height: 303px; }
.w1190 .floor .theme-list .thumb, .w1190 .floor .theme-list .thumb a, .w1190 .floor .theme-list .thumb img { width: 229px; height: 75px; }
.w1190 .floor .theme .pic img { height: 144px; width: 144px; }
.w1190 .floor .theme .pic, .w1190 .floor .theme .pic a { width: 144px; height: 144px; }
.w1190 .floor .theme .summary { width: 215px; height: 144px; }
.w1190 .floor .theme-list .summary b.share { right: 0px; }
.w1190 .floor .theme .desc { height: 80px; }
.w1190 .recycle { width: 593px; }
.w1190 .recycle .recycel-type { margin: 30px 30px 0px; }
.w1190 .tutorial { width: 594px; }
.w1190 .tutorial .mod { padding: 0px 14px; width: 267px; }
.w1190 .all-category .sub-category { padding: 30px 60px 20px 0px; width: 237px; }
.guide5 { display: none; }
.idle-footer-download { display: block; }
.idle-footer-info { display: block; }
.ks-suggest-container { background: white none repeat scroll 0% 0%; border: 1px solid rgb(153, 153, 153); z-index: 99999; }
.ks-suggest-footer { padding: 0px 5px 5px; }
.ks-suggest-container li, .ks-suggest-footer { overflow: hidden; clear: both; }
.ks-suggest-container {  }
